{% extends 'ui/application_layout.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h1 class="h3 mb-1 text-gray-800">Camera's Detection Areas</h1>
        <p class="mb-4">
            This section presents a simple form for selecting parking spots for occupancy test.
            To find out more about this page check out the <a href="">help section</a>.
        </p>
        <div id="detectionAreaViewContainer">
            <div class="row">
                <div class="col-sm-6">
                    <label for="deviceSelect">Device</label>
                    <select class="form-control" id="deviceSelect" onchange=""></select>
                </div>
                <div class="col-sm-6">
                    <label for="cameraSelect">Camera</label>
                    <select class="form-control" id="cameraSelect"></select>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-6">
                    <h2>Detection Areas</h2>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary btn-block" id="areaBtn" onclick="refresh(true);" disabled>
                        Areas Mode
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-secondary btn-block" id="selectBtn"  onclick="refresh(true);">
                        Select Mode
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12" id="content-container">
                    <canvas id="detectionAreasCanvas" width="1280" height="720"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="areaTable">
                        <thead>
                        <tr>
                            <th>X</th>
                            <th>Y</th>
                            <th>Width</th>
                            <th>Height</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="areaTableBody"></tbody>
                    </table>
                </div>
            </div>
            {% comment %} <div class="row mb-0">
                <h2>Register a new area</h2>
            </div> {% endcomment %}
        </div>
    </div>

    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/rest/crud.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/Jcrop/css/jquery.Jcrop.css' %}" type="text/css"/>
    <script>
        {#TODO: Retrieval of one frame from selected camera #}
        let places = [];
        let areasMode = true;
        let selectRect = [];
        
        const areasModeHTML = `<canvas id="detectionAreasCanvas" width="1280" height="720"></canvas><br>`;

        const selectModeHTML = areasModeHTML + `
            <div class="row mt-2 mb-5">
                <div id="coords" class="coords col-sm-5">
                    <label>X1: <input type="text" size="4" id="x1" name="x1"/></label>
                    <label>Y1: <input type="text" size="4" id="y1" name="y1"/></label>
                    <label>W: <input type="text" size="4" id="w" name="w"/></label>
                    <label>H: <input type="text" size="4" id="h" name="h"/></label>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-block" id="drawBtn">Draw on canvas</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-success btn-block" onclick="registerArea()">Register Area</button>
                </div>
            </div>`;

        function registerArea() {
            let obj = {
                // id: places[places.length - 1].id + 1, // TODO: Extract the newest id from API instead
                camera: parseInt(document.getElementById('cameraSelect').value),
                x: document.getElementById('x1').value,
                y: document.getElementById('y1').value,
                width: document.getElementById('w').value,
                height: document.getElementById('h').value
            };
            let csrftoken = getCookie('csrftoken');
            requestCreate('detection_area', obj, csrftoken, function (res, body) {
                if (res) {
                    obj.id = parseInt(body);
                    places.push(obj);
                    updateTableWithSelectedAreas();
                    drawImageWithSelectedAreas();
                } else {
                    console.log("Error occurred while trying to upload the new detection area");
                }
            });
            refresh(true);
        }

        function afterAreasRequest(arr) {
            if (arr != null && arr.length !== 0) {
                let camId = parseInt(document.getElementById('cameraSelect').value);
                places = arr.filter(place => place.camera === camId);
            }
            else
                places = [];
            
            console.log(arr);
            updateTable();
            if (areasMode) {
                drawAreasToCanvas();
            } else {
                drawSelectionToCanvas();
            }
        }

        function afterCameraRequest(arr) {
            let cameraSelectElem = document.getElementById('cameraSelect');
            if (arr == null || arr.length === 0) {
                cameraSelectElem.disabled = true;
                cameraSelectElem.innerHTML = `<option value='None'>No cameras detected for the device</option>`;
                return;
            }
            let deviceId = parseInt(document.getElementById('deviceSelect').value);
            let selectContent = "";
            arr.forEach(camera => {
                if (camera.id === deviceId)
                    selectContent += `<option value="${camera.id}">${camera.name}</option>`;
            });
            cameraSelectElem.disabled = false;
            cameraSelectElem.innerHTML = selectContent;
            cameraSelectElem.selectedIndex = "0";
            requestList('detection_area', afterAreasRequest);
        }

        function afterDeviceRequest(arr) {
            if (arr == null || arr.length === 0) {
                let container = document.getElementById('detectionAreaViewContainer');
                container.innerHTML = `<div class='row'><h1 class='text-danger'>No registered devices detected</h2></div>`;
                return;
            }
            let selectContent = "";
            arr.forEach(device => selectContent += `<option value="${device.id}">${device.name}</option>`);

            let deviceSelectElem = document.getElementById('deviceSelect');
            deviceSelectElem.innerHTML = selectContent;
            deviceSelectElem.selectedIndex = "0";
            requestList('camera', afterCameraRequest);
        }

        function updateTable() {
            let tableBody = document.getElementById('areaTableBody');
            let text = "";
            for (i = 0; i < places.length; i++) {
                let area = places[i];
                text += `<tr><td>${area.x}</td><td>${area.y}</td><td>${area.width}</td><td>${area.height}</td>
                        <td><button class="btn btn-danger" onclick="deleteArea(this, ${area.id})">Delete</button></td></tr>`;
            }
            tableBody.innerHTML = text;
        }

        function drawAreasToCanvas() {
            const COLORS = [, ];
            let ctx = document.getElementById('detectionAreasCanvas').getContext('2d');
            // let img = document.getElementById('target');
            let devID = document.getElementById('deviceSelect').value;
            let camID = document.getElementById('cameraSelect').value;
            let img = new Image();
            img.onload = function() {
                let i = 0;
                ctx.beginPath();
                ctx.drawImage(img, 0, 0);
                ctx.globalAlpha = 0.3;
                places.forEach(area => {
                    if (area.occupied)
                        ctx.fillStyle = '#ff0000';
                    else
                        ctx.fillStyle = '#00ff00';
                    ctx.fillRect(area.x, area.y, area.width, area.height);
                    ctx.stroke();
                    i++;
                    if (i === COLORS.length)
                        i = 0;
                });
                ctx.globalAlpha = 1.0;
            };
            img.src = 'http://' + window.location.hostname + ':8000/static/img/recordings/fulls/' + devID + '_' +
                camID + '.jpg';
        }

        function drawSelectionToCanvas() {
            const COLORS = ['#ff0000', '#00ff00'];
            let ctx = document.getElementById('detectionAreasCanvas').getContext('2d');
            let devID = document.getElementById('deviceSelect').value;
            let camID = document.getElementById('cameraSelect').value;
            let img = new Image();
            img.onload = function() {
                let i = 0;
                ctx.beginPath();
                ctx.drawImage(img, 0, 0);

                if (selectRect.length === 4) {
                    ctx.globalAlpha = 0.3;
                    ctx.fillStyle = '#00ff00';
                    ctx.fillRect(parseInt(selectRect[0]), parseInt(selectRect[1]), 
                        parseInt(selectRect[2]), parseInt(selectRect[3]));
                    ctx.stroke();
                    ctx.globalAlpha = 1.0;
                }
            };
            img.src = 'http://' + window.location.hostname + ':8000/static/img/recordings/fulls/' + devID + '_' +
                camID + '.jpg';
        }

        function refresh(stateSwitch) {
            if (stateSwitch) {
                let areaBtn = document.getElementById('areaBtn');
                let selectBtn = document.getElementById('selectBtn');
                let row = document.getElementById('content-container');

                if (areasMode) {
                    // Switching from area mode to select mode
                    areaBtn.disabled = false;
                    selectBtn.disabled = true;

                    // Delete the old canvas with new canvas
                    row.innerHTML = selectModeHTML;

                    let drawBtn = document.getElementById('drawBtn');
                    drawBtn.onclick = function() {
                        let x = document.getElementById('x1').value, y = document.getElementById('y1').value;
                        let width = document.getElementById('w').value, height = document.getElementById('h').value;
                        selectRect = [x, y, width, height];
                        drawSelectionToCanvas();
                    }
                } else {
                    // Switching from select mode to area mode
                    areaBtn.disabled = true;
                    selectBtn.disabled = false;

                    // No more selection - clear the array
                    selectRect = [];

                    // Delete the image and replace it with a canvas
                    row.innerHTML = areasModeHTML;
                }

                areasMode = !areasMode;
            }
            
            requestList('device', afterDeviceRequest);
        }

        window.onload = function () {
            document.getElementById('deviceSelect').addEventListener('change', (event) => {
                requestList('camera', afterCameraRequest);
            });
            requestList('device', afterDeviceRequest);
        };
    </script>
{% endblock %}