{% extends 'ui/application_layout.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h1 class="h3 mb-1 text-gray-800">Camera's Detection Areas</h1>
        <p class="mb-4">
            This section presents a simple form for selecting parking spots for occupancy test.
            To find out more about this page check out the <a href="">help section</a>.
        </p>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <label for="deviceSelect">Device</label>
                    <select class="form-control" id="deviceSelect">
                        <option>Test device 1</option>
                        <option>Device test 2</option>
                        <option>Device Test 3</option>
                        <option>Device Test 4?</option>
                        <option>Postman device test</option>
                        <option>Testerino memerino</option>
                        <option>Final test</option>
                        <option>Final test 2</option>
                        <option>Final test 3</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="cameraSelect">Camera</label>
                    <select class="form-control" id="cameraSelect">
                        <option>Hello Camera</option>
                        <option>Hello Camera 2</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <h2>Created Detection Areas</h2>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <canvas id="detectionAreasCanvas" width="1000" height="750"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>X</th>
                            <th>Y</th>
                            <th>Width</th>
                            <th>Height</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>100</td>
                            <td>100</td>
                            <td>Delete</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>100</td>
                            <td>100</td>
                            <td>Delete</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>100</td>
                            <td>100</td>
                            <td>Delete</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>100</td>
                            <td>100</td>
                            <td>Delete</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>100</td>
                            <td>100</td>
                            <td>Delete</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>100</td>
                            <td>100</td>
                            <td>Delete</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>100</td>
                            <td>100</td>
                            <td>Delete</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>100</td>
                            <td>100</td>
                            <td>Delete</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>100</td>
                            <td>100</td>
                            <td>Delete</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>100</td>
                            <td>100</td>
                            <td>Delete</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>100</td>
                            <td>100</td>
                            <td>Delete</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>100</td>
                            <td>100</td>
                            <td>Delete</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mb-0">
                <h2>Add a new area</h2>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <img src="{% static 'img/prototyping/parking_test_image.jpg' %}" class="mx-auto mt-0" id="target">
                </div>
            </div>
            <div class="row mt-2">
                <div id="coords" class="coords col-sm-7">
                    <label>X1 <input type="text" size="4" id="x1" name="x1"/></label>
                    <label>Y1 <input type="text" size="4" id="y1" name="y1"/></label>
                    <label>X2 <input type="text" size="4" id="x2" name="x2"/></label>
                    <label>Y2 <input type="text" size="4" id="y2" name="y2"/></label>
                    <label>W <input type="text" size="4" id="w" name="w"/></label>
                    <label>H <input type="text" size="4" id="h" name="h"/></label>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-success btn-block">Add area</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-4">
                    <button class="btn btn-primary btn-lg btn-block">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/Jcrop/js/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/Jcrop/js/jquery.Jcrop.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/Jcrop/css/jquery.Jcrop.css' %}" type="text/css"/>
    <script>
        {#TODO:  Update the camera select based on the selected device #}
        {#TODO: Retrieval of one frame from selected camera #}
        let finalX1, finalX2, finalY1, finalY2;

        jQuery(function ($) {
            let jcrop_api;

            $('#target').Jcrop({
                onChange: showCoords,
                onSelect: showCoords,
                onRelease: clearCoords
            }, function () {
                jcrop_api = this;
            });

            $('#coords').on('change', 'input', function (e) {
                var x1 = $('#x1').val(),
                    x2 = $('#x2').val(),
                    y1 = $('#y1').val(),
                    y2 = $('#y2').val();
                jcrop_api.setSelect([x1, y1, x2, y2]);
            });

        });

        // Simple event handler, called from onChange and onSelect
        // event handlers, as per the Jcrop invocation above
        function showCoords(c) {
            $('#x1').val(c.x);
            $('#y1').val(c.y);
            $('#x2').val(c.x2);
            $('#y2').val(c.y2);
            $('#w').val(c.w);
            $('#h').val(c.h);
        }

        function clearCoords() {
            $('#coords input').val('');
        }

        function drawImageWithSelectedAreas() {
            let ctx = document.getElementById('detectionAreasCanvas').getContext('2d');
            let img = document.getElementById('target');
            ctx.drawImage(img, 10, 10);
        }

        drawImageWithSelectedAreas();
    </script>
{% endblock %}