{% extends 'ui/application_layout.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h1 class="h3 mb-1 text-gray-800">Livestream</h1>
        <p class="mb-4">
            This section allows the user to see the live feed from a selected camera.
            To find out more about this page check out the <a href="">help section</a>.
        </p>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <label for="deviceSelect">Device</label>
                    <select class="form-control" id="deviceSelect"></select>
                </div>
                <div class="col-sm-6">
                    <label for="cameraSelect">Camera</label>
                    <select class="form-control" id="cameraSelect"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-4">
                    {% comment %} <img src="{% static 'img/prototyping/parking_test_image.jpg' %}" id="img-stream-dest" class="d-block mx-auto"> {% endcomment %}
                    <canvas id="canvas-stream-dest" width="1280" height="720">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/rest/crud.js' %}"></script>
    <script>
        {#TODO: If more than one camera from a given device - fix that bug #}
        {#TODO: Retrieval of one frame from selected camera #}
        function updateFrame(devID, camID) {
            let ctx = document.getElementById('canvas-stream-dest').getContext('2d');
            let img = new Image();
            img.onload = function() {
                ctx.beginPath();
                ctx.fillRect(0, 0, 1280, 720);
                ctx.stroke();
                ctx.drawImage(img, 0, 0);
                ctx.stroke();
            };
            img.src = 'http://' + window.location.hostname + ':8000/static/img/recordings/fulls/' + devID + '_' +
                camID + '.jpg';
            console.log('Hello:', img.src);
        }

        function afterCameraRequest(arr) {
            let cameraSelectElem = document.getElementById('cameraSelect');
            if (arr == null || arr.length === 0) {
                cameraSelectElem.disabled = true;
                cameraSelectElem.innerHTML = `<option value='None'>No cameras detected for the device</option>`;
                return;
            }
            cameraSelectElem.disabled = false;
            let deviceId = parseInt(document.getElementById('deviceSelect').value);
            let selectContent = "";
            arr.forEach(camera => {
                if (camera.id === deviceId)
                    selectContent += `<option value="${camera.id}">${camera.name}</option>`;
            });
            cameraSelectElem.innerHTML = selectContent;
            cameraSelectElem.selectedIndex = "0";
        }

        function afterDeviceRequest(arr) {
            if (arr == null || arr === []) {
                let container = document.getElementById('detectionAreaViewContainer');
                container.innerHTML = `<div class='row'><h1 class='text-danger'>No registered devices detected</h2></div>`;
                return;
            }
            let selectContent = "";
            arr.forEach(device => selectContent += `<option value="${device.id}">${device.name}</option>`);

            let deviceSelectElem = document.getElementById('deviceSelect');
            deviceSelectElem.innerHTML = selectContent;
            deviceSelectElem.selectedIndex = "0";
            requestList('camera', afterCameraRequest);
        }

        window.onload = function () {
            requestList('device', afterDeviceRequest);
            let streamInterval = setInterval(function(){ updateFrame(1,1); }, 1000);

            document.getElementById('deviceSelect').addEventListener('change', (event) => {
                requestList('camera', function(arr) {
                    afterCameraRequest(arr);
                    clearInterval(streamInterval);
                    let devID = document.getElementById("deviceSelect").value;
                    let camID = document.getElementById("cameraSelect").value;
                    streamInterval = setInterval(function(){ updateFrame(devID, camID); }, 1000);
                });
            });
        };
    </script>
{% endblock %}