{% extends 'ui/application_layout.html' %}
{% load static %}

{% block content %}
    {# Content #}
    <div class="container-fluid">
        {#  Page Heading  #}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>

        {# Content Row  #}
        <div class="row">

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Current Parking Occupancy
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">36%</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-parking fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Artificial Intelligence Module
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <div class="row mt-2 ml-1"  id="aimod-row">
                                        {% comment %} <div class="btn btn-success btn-block col-6" onclick="turnOnAIMod()">
                                            Turn On
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-brain fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">GPU Load</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                            {% comment %} N/A {% endcomment %}
                                            {{ util }}%
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                                 style="width: {{ util }}%" aria-valuenow="{{ util }}" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-server fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    GPU Temperature
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ temp }}&#8451;</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-thermometer-half fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} <div class="row">
            <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Occupation Overview</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                 aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Occupation Overview Pane</div>
                                <a class="dropdown-item" href="#">Show as a Data Table</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Help</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="occupationOverviewCanvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">GPU Usage Overview</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                 aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">GPU Usage Overview Pane</div>
                                <a class="dropdown-item" href="#">Show as a Data Table</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Help</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="gpuUsageChartCanvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Help</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                 src="{% static 'img/undraw_questions.svg' %}" alt="">
                        </div>
                        <p>First time running Parkind? Confused where to start? Looking for a tutorial on how to
                            setup this software or perhaps you do not understand the dashboard?
                            All the answers to those questions <i>(and more)</i> are answered in the help page of this
                            section!</p>
                        <a target="_blank" rel="nofollow" href="#">
                            Check it out here! &rarr;
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Parkind Project</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                 src="{% static 'img/undraw_work_together.svg' %}" alt="">
                        </div>
                        <p>Parkind is a one-man made project. It is still unstable and unfinished which may result in
                            some
                            bugs. If you do encounter them please make sure you report them so that I can make a fix for
                            it!</p>
                        <a target="_blank" rel="nofollow" href="https://github.com/TheSlipper/Parkind/issues">
                            Report the problems here! &rarr;
                        </a>
                        <p class="mt-4">Creating a free and open source project that allows anyone to manage their
                            parking in a very
                            easy manner is a huge project so sometimes it can be quiet hard for one person to develop
                            all of the
                            necessary things. If you feel like helping me out with the project then by all means please
                            do!</p>
                        <a target="_blank" rel="nofollow" href="https://github.com/TheSlipper/Parkind/">
                            Check out the github repository! &rarr;
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
        <script src="{% static 'js/dashboard.js' %}"></script>
        <script>
            const when_turned_on = `<div class="btn btn-outline-danger btn-block col-6" onclick="turnOffAIMod()">Turn Off</div>`;
            const when_turned_off = `<div class="btn btn-success btn-block col-6" onclick="turnOnAIMod()">Turn On</div>`;
            const row = document.getElementById("aimod-row");

            function turnOnAIMod() {
                let url = "http://" + window.location.hostname + ":8000/api/ai/init";
                let request = new XMLHttpRequest();
                request.open('GET', url, true);
                request.onreadystatechange = function () {
                    if (this.readyState === XMLHttpRequest.DONE) {
                        if (this.status === 202) {
                            row.innerHTML = when_turned_on;
                        }
                    }
                };
                request.send(null);
            }

            function turnOffAIMod() {
                let url = "http://" + window.location.hostname + ":8000/api/ai/stop";
                let request = new XMLHttpRequest();
                request.open('GET', url, true);
                request.onreadystatechange = function () {
                    if (this.readyState === XMLHttpRequest.DONE) {
                        if (this.status === 200) {
                            row.innerHTML = when_turned_off;
                        }
                    }
                };
                request.send(null);
            }

            function InitBtn() {
                let url = "http://" + window.location.hostname + ":8000/api/ai/status";
                let request = new XMLHttpRequest();
                request.open('GET', url, true);
                request.onreadystatechange = function () {
                    if (this.readyState === XMLHttpRequest.DONE) {
                        console.log('hello:', this.status);
                        if (this.status === 201) {
                            row.innerHTML = when_turned_on;
                        } else {
                            row.innerHTML = when_turned_off;
                        }
                    }
                };
                request.send(null);
            }

            window.onload = InitBtn();
        </script>
    </div>

{% endblock %}